body {
    font-family: 'wingbats', 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: hotpink;


    @keyframes spin {from {} to {transform:rotate(360deg);}}
    .spin:hover {animation-name:spin;animation-duration:3s;position:absolute;}
}
